{% extends 'backend/main.html' %}
{% block 'link' %}
<!-- DataTables -->
<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
{% endblock %}
{% block 'main' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  {% include 'backend/layout/breadcrumb.html' with section_name=section_name %}

  <!-- Main content -->
  <section class="content pb-4">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        List of Orders
      </div>
      <div class="card-body">
        <table id="data-table" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Name</th>
              <th>Date</th>
              <td>City</td>
              <th>Address</th>
              <th>Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in obj %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.first_name }} {{ item.last_name }}</td>
              <td>{{ item.order_data.date_created }}</td>
              <td>{{ item.city }}</td>
              <td>{{ item.districts }}</td>
              <td>{{ item.order_data.total_price }}</td>
              <td>
                <h5><span
                    class="badge badge-{% if item.paid %}success{% else %}danger{% endif %}">{{ item.get_status }}</span>
                </h5>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog"></i> 
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'order.detail' item.pk %}"  
                      class="dropdown-item" type="button">View</a>
                    <a href="{% url 'order.update' item.pk %}" 
                      class="dropdown-item" type="button">Toggle Status</a>
                    <a href="{% url 'order.delete' item.pk %}" 
                      class="dropdown-item" type="button">Delete</a>
                    <a href="{% url 'order.detail_pdf' item.pk %}" 
                      class="dropdown-item" type="button">Print</a>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block 'script' %}
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#data-table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}