{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin Foodstore</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="{% static '/' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">
    <div class="content-wrapper">
      <section class="content pb-4">

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Order No. {{ order.pk }}</h3>
          </div>
        </div>

        <div class="py-1 px-4 mb-3">
          Order date: {{ order.order_data.date_created }}
        </div>

        <div class="card" id="customer-info">
          <div class="card-header">
            <h4 class="card-title">Customer Information</h4>
          </div>
          <div class="card-body">
            <p><strong>Name</strong>: {{ order.first_name }} {{ order.last_name }}</p>
            <p><strong>Phone No.</strong>: {{ order.phone }}</p>
            <p><strong>Email</strong>: {{ order.email }}</p>
          </div>
        </div>

        <div class="card" id="shipping-info">
          <div class="card-header">
            <h4 class="card-title">Shipping Information</h4>
          </div>
          <div class="card-body row">
            <div class="col-12 col-sm-6">
              <p><strong>City</strong>: {{ order.city }}</p>
              <p><strong>District</strong>: {{ order.districts }}</p>
              <p><strong>Address</strong>: {{ order.detail_address }}</p>
            </div>
            <div class="col-12 col-sm-6">
              <h5><strong>Note</strong></h5>
              {% if order.addition_note != '' %}
              {{ order.addition_note|linebreaks }}
              {% else %}
              <p>Empty</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card" id="ordered-products">
          <div class="card-header">
            List of Orders
          </div>
          <div class="card-body">
            <table id="data-table" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Name</th>
                  <th>Quantity</th>
                  <td>Price</td>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                {% for item in order.order_data.cartitem_set.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a></td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price }}</td>
                  <td class="text-right">{{ item.total_price }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th colspan="3"></th>
                  <th class="text-right">{{ order.order_data.total_price }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="dist/js/demo.js"></script>
</body>

</html>