{% extends 'base_generics.html' %}

{% load static %}

{% block title %}Gio Hang{% endblock %}


{% block style %}
<style>
    .modal-dialog a {
        color: #4cd137;
    }

    .modal-dialog a:hover {
        color: #44bd32;
    }
</style>
{% endblock %}


{% block content %}
{% include 'widgets/content_components/header.html' %}


{% include 'widgets/content_components/breadcrumb.html' with page_title="Shoping Cart" %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form action="" method="post" id="cart-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart_data_len == 0 %}
                                <tr>
                                    <td colspan="5"><h5>Empty list</h5></td>
                                </tr>
                                {% else %}
                                    {% for cart_item in cart_data %}
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="{% if cart_item.product.thumbnail %}{{ cart_item.product.thumbnail.url }}{% else %}{% static 'img/product/default.jpg' %}{% endif %}"
                                                alt="" style="width: 100px; height: 100px">
                                            <h5>{{ cart_item.product.name }}</h5>
                                        </td>
                                        <td class="shoping__cart__price" data="{{ cart_item.product.price }}">
                                            ${{ cart_item.product.price }}
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    {{ cart_item.form_field }}
                                                </div>
                                            </div>
                                        </td>

                                        <td class="shoping__cart__total" data="{{ cart_item.total_price }}">
                                            ${{ cart_item.total_price }}
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close"></span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'products' %}" 
                            class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <input type="hidden" 
                            name="total_price" 
                            value="{{ total_price }}" 
                            id="id_total_price">
                        {% if cart_data_len > 0 %}
                        <input type="submit" 
                            value="Update Cart" name="submit"
                            class="primary-btn cart-btn cart-btn-right border-0">
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <!-- <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div> -->
            {% if cart_data_len > 0 %}
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <!-- <li>Subtotal <span class='subtotal'>{{ total_price }}</span></li> -->
                        <li>Total <span class='total' data="{{ total_price }}">{{ total_price }}</span></li>
                    </ul>
                    <button class="primary-btn" id="to-checkout-btn">PROCEED TO CHECKOUT</button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
<!-- Modal -->
<div class="modal fade" id="pageModal" tabindex="-1" aria-labelledby="pageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pageModalLabel">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>You needed to <a class="primary-link" href="{% url 'login' %}">log in</a> in order to purchase.</p>
                <p>Dont have an account? <a class="primary-link" href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endblock %}


{% block script %}
<script>
    // Track change of product amount => change of cart item price => total price change
    // Add event to inc button
    $('.inc').click(function () {
        // Get amount value from corresponding product
        let amount = parseInt($(this).parent().children('input').val()) + 1;

        let productDOM = $(this)
            .parent().parent().parent().parent();

        // Get price value of corresponding product
        let priceText = productDOM.children('.shoping__cart__price').attr('data');
        let price = parseFloat(priceText);

        // Query total price element and update
        let productTotalPriceDOM = productDOM.children('.shoping__cart__total');
        let productOldTotalPrice = parseFloat(productTotalPriceDOM.attr('data'));
        let productTotalPrice = productOldTotalPrice + price;
        productTotalPriceDOM.attr('data', productTotalPrice);
        productTotalPriceDOM.text(productTotalPrice);
    });


    $('.dec').click(function () {
        // Get amount value from corresponding product
        let amount = parseInt($(this).parent().children('input').val()) - 1;
        if (amount < 0) return;

        let productDOM = $(this)
            .parent().parent().parent().parent();

        // Get price value of corresponding product
        let priceText = productDOM.children('.shoping__cart__price').attr('data');
        let price = parseFloat(priceText);

        // Query total price element and update
        let productTotalPriceDOM = productDOM.children('.shoping__cart__total');
        let productOldTotalPrice = parseFloat(productTotalPriceDOM.attr('data'));
        let productTotalPrice = productOldTotalPrice - price;
        productTotalPriceDOM.attr('data', productTotalPrice);
        productTotalPriceDOM.text(productTotalPrice);
    });

    // Add event for delete cart-item
    $('.icon_close').click(function (event) {
        let mainDOM = $(this).parent().parent();

        mainDOM.remove();
    })


    let userAuthenticated = "{{ request.user.is_authenticated }}" === "True";
    $("#to-checkout-btn").click(function () {
        if (userAuthenticated) {
            processToCheckout();
        } else {
            $("#pageModal").modal();
        }
    })

    function processToCheckout() {
        window.location.href = "{% url 'checkout' %}";
    }
</script>
{% endblock %}