{% extends 'base_generics.html' %}

{% load static %}

{% block title %}Ogani | Template{% endblock %}

{% block content %}
{% include 'widgets/content_components/header.html' %}


{% include 'widgets/content_components/breadcrumb.html' with page_title="Shoping Cart" %}
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_data %}
                                    {% for field in form %}
                                        {% if field is not form.total_price %}
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <img src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% static 'img/product/default.jpg' %}{% endif %}" alt="" style="width: 100px; height: 100px">
                                                <h5>{{ cart_item.product.name }}</h5>
                                            </td>
                                            <td class="shoping__cart__price">
                                                ${{ cart_item.product.price }}
                                            </td>
                                            <td class="shoping__cart__quantity">
                                                <div class="quantity">
                                                    <div class="pro-qty">
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            </td>
                                            
                                            <td class="shoping__cart__total">
                                                ${{ cart_item.total_price }}
                                            </td>
                                            <td class="shoping__cart__item__close">
                                                <span class="icon_close"></span>
                                                
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'products' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <input type="hidden" name="total_price" value="{{ total_price }}" id="id_total_price">
                        <input type="submit" value="Update Cart" class="primary-btn cart-btn cart-btn-right border-0">
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>$454.98</span></li>
                        <li>Total <span>${{ total_price }}</span></li>
                    </ul>
                    <a href="{% url 'checkout' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock %}