{% extends 'base_generics.html' %}

{% load static %}
{% load foodstore_tags %}


{% block style %}
<style>
    .rate_radio label {
        cursor: pointer;
    }

    .fa-star, .fa-star-o {
        color: #fbc531;
    }

    #auth-review-controller {
        display: none;
    }

    #auth-review-controller ~ form {
        display: none;
    }

    #auth-review-controller ~ article {
        display: block;
    }

    #auth-review-controller:checked ~ article {
        display: none;
    }

    #auth-review-controller:checked ~ form {
        display: block;
    }
</style>
<link rel="stylesheet" href="{% static 'foodstore/css/page.css' %}">
{% endblock %}

{% block title %}Ogani Template{% endblock %}


{% block content %}
{% include 'widgets/content_components/header.html' %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>{{ product.name }}</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{{ product.category.get_absolute_url }}"
                        >{{ product.category.name }}</a>
                        <span>{{ product.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->  
<!-- Modal -->
<div class="modal fade" id="pageModal" tabindex="-1"     
    aria-labelledby="pageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pageModalLabel">Confirm Dialog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" 
                class="btn btn-secondary rounded-0" data-dismiss="modal"
                    >Cancel</button>
                <button type="button" 
                    class="confirm-btn btn btn-primary rounded-0"
                    >Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% static 'img/product/default.jpg' %}{% endif %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{ product.name }}</h3>
                    <div class="product__details__price">{{ product.price|floatformat }} VND / {{ product.unit }}</div>
                    <p>{{ product.description|linebreaks }}</p>
                    <form action="{% url 'product-add-to-cart' product.category.slug product.pk %}" method="POST">
                        {% csrf_token %}
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    {{ form.quantity }}
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="ADD TO CARD" class="primary-btn rounded-0">
                    </form>
                    <a href="{% url 'product-set-favorite' product.category.slug product.pk %}?next={{ request.path_info }}" 
                        class="heart-icon">
                        <span class="fa fa-heart{% if product.pk not in request.session.favorite_products.object_ids %}-o{% endif %}"></span></a>
                    <ul>
                        <li><b>Rating:</b> <span>{{ product.rating }}</span></li>
                        <li><b>Availability</b> <span>{{ product.get_status_text }}</span></li>
                        <li><b>Shipping</b> <span>{{ product.ship }} <samp>Free pickup today</samp></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Reviews <span>({{ product.review_set.count }})</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="true">Information</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                {% if request.user.is_authenticated %}
                                    <div class="authenticated_review_controller">
                                        <h4 class="mb-3"><strong>{% if request.user.first_name %}{{ request.user.first_name  }} {{ request.user.last_name  }}{% else %}{{ request.user.username }}{% endif %}</strong></h4>
                                        
                                        {% if auth_user_review %}
                                        <input type="checkbox" 
                                            id="auth-review-controller">
                                        <article class="auth-review">
                                            <p><strong
                                                >
                                                {% for index in  5|number_to_range %}
                                                <span class="fa fa-star{% if index > auth_user_review.stars %}-o{% endif %}"></span>
                                                {% endfor %}
                                            </strong> <small>{{ auth_user_review.date_created }}</small></p>
                                            <section>
                                                {{ auth_user_review.comment|linebreaks  }}
                                            </section>
                                            <div class="btns">
                                                <label 
                                                    class="btn btn-warning mb-0 rounded-0"
                                                    for="auth-review-controller">Edit</label>
                                                <button next_url="{% url 'review-delete' product.category.slug product.pk auth_user_review.pk %}" 
                                                    class="btn btn-danger delete-btn rounded-0">Delete</button>
                                            </div>
                                        </article>
                                        <form action="{% url 'review-update' product.category.slug product.pk auth_user_review.pk %}" 
                                            method="post"
                                            id="review_update_form">
                                            {% csrf_token %}
                                            <label>Rating: </label>
                                            <strong>
                                            {% for value, name in review_edit_form.rate.field.choices %}
                                                <div class="rate_radio d-inline">
                                                    <label for="rate_update_{{ name }}" 
                                                        class="d-inline-block">
                                                        <span class="fa fa-star{% if review_edit_form.rate.value < forloop.counter %}-o{% endif %} p-1"></span>
                                                    </label>
                                                    <input 
                                                        id="rate_update_{{ name }}"
                                                        type="radio"
                                                        name="rate",
                                                        value="{{ value }}"
                                                        class="d-none">
                                                </div>
                                            {% endfor %}
                                            </strong>
                                            
                                            <div class="my-1">
                                                {{ review_edit_form.comment.label_tag }}
                                                {{ review_edit_form.comment }}
                                            </div>
                                            <input type="submit" 
                                                value="Submit"
                                                class="btn btn-success my-3 rounded-0">
                                            <label 
                                                for="auth-review-controller" class="btn btn-warning mb-0 rounded-0">Cancel</label>
                                        </form>
                                        {% else %}
                                        <form action="{% url 'review-create' product.category.slug product.pk %}" 
                                            method="post"
                                            id="review_create_form">
                                            {% csrf_token %}
                                            <label>Rating: </label>
                                            <strong>
                                            {% for value, name in review_form.rate.field.choices %}
                                                <div class="rate_radio d-inline">
                                                    <label for="rate_{{ name }}" 
                                                            class="d-inline-block">
                                                        <span class="fa fa-star-o p-1"></span>
                                                    </label>
                                                    <input 
                                                        id="rate_{{ name }}"
                                                        type="radio"
                                                        name="rate",
                                                        value="{{ value }}"
                                                        class="d-none">
                                                </div>
                                            {% endfor %}
                                            </strong>
                                                
                                            <div class="my-1">
                                                {{ review_form.comment.label_tag }}
                                                {{ review_form.comment }}
                                            </div>
                                            <input type="submit" 
                                                value="Submit"
                                                class="btn btn-success my-3 rounded-0">
                                        </form>
                                        {% endif %}
                                    </div>
                                    <br>
                                {% endif %}
                                
                                {% if product.review_set.count >= 0 %}
                                    <hr>
                                    <div class="comment_list mt-4">
                                        <h4 class="text-center">{% if request.user.is_authenticated %}Other {% endif %}Reviews on this products</h4>
                                        <hr>

                                        {% for review in reviews|dictsortreversed:'id' %}
                                            <div class="my-4 border-bottom py-3">
                                                <article>
                                                    <header>
                                                        <h4><strong>{% if review.user.first_name %}{{ review.user.first_name  }} {{ review.user.last_name  }}{% else %}{{ review.user.username }}{% endif %}</strong></h4>
                                                        <p><strong
                                                            >
                                                            {% for index in  5|number_to_range %}
                                                            <span class="fa fa-star{% if index > review.stars %}-o{% endif %}"></span>
                                                            {% endfor %}
                                                        </strong> <small>{{ review.date_created }}</small></p>
                                                    </header>
                                                    <section>
                                                        {{ review.comment|linebreaks  }}
                                                    </section>
                                                </article>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="product__pagination d-flex justify-content-center"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.</p>
                                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                    elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                    porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                    nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Details Section End -->
{% endblock %}

{% block script %}

<script>
    // Styling rating and control rating display on select and deselect
    $('strong .rate_radio input').each(function(input_index) {
        $(this).change(function() {
            let iconQuery = $(this).parent().parent()
                .children('.rate_radio').children('label').children('span');
            let index = parseInt($(this).val()) - 1;
            onInputTriggered(index, iconQuery)
        })
    })

    $('strong .rate_radio label span').each(function() {
        $(this).hover(function() {
            let iconQuery = $(this).parent().parent().parent()
                .children('.rate_radio').children('label').children('span');
            let index = parseInt($(this).parent().parent().children('input').val()) - 1;
            onInputTriggered(index, iconQuery)
        })
    })

    $('strong .rate_radio label span').each(function(index) {
        $(this).mouseout(function() {
            let thisRadioControllersQuery = $(this).parent().parent().parent()
                .children('.rate_radio');
            let iconQuery = thisRadioControllersQuery
                .children('label').children('span');
            if (thisRadioControllersQuery.children('input').length === 0) {
                onInputTriggered(0, iconQuery);
            } else {
                let hasCheckedRadio = false;
                thisRadioControllersQuery.children('input').each(function() {
                    if ($(this).prop('checked')) {
                        let value = $(this).val();
                        onInputTriggered(parseInt(value) - 1, iconQuery);
                        hasCheckedRadio = true
                    }
                })

                if (!hasCheckedRadio) {
                    onInputTriggered(-1, iconQuery);
                }
            }
        })
    })


    function onInputTriggered(input_index, iconQuery) {
        iconQuery.each(function(label_index, elem) {
            if (label_index <= input_index) {
                // Fill star
                if ($(this).hasClass('fa-star-o')) {
                    $(this).removeClass('fa-star-o');
                    $(this).addClass('fa-star');
                }
            } else {
                // Empty star
                if ($(this).hasClass('fa-star')) {
                    $(this).removeClass('fa-star');
                    $(this).addClass('fa-star-o');
                }
            }
        })
    }
    // End rating section

    // Modal Section
    $('form#review_update_form').submit(function(eventObject) {
        eventObject.preventDefault();
        setupModal('Do you want to edit you review?', function() {
            eventObject.currentTarget.submit();
        })
    })

    $('button.delete-btn').click(function() {
        let bodyContent = "Do you want to delete your review and start a new one?";
        let next_url = $(this).attr('next_url');
        setupModal(bodyContent, function() {
            document.location.href = next_url;
        })
    })

    function setupModal(bodyContent, confirmHandle) {
        $('.modal-body').text(bodyContent);
        $('.confirm-btn').unbind();
        $('.confirm-btn').click(confirmHandle)
        $('#pageModal').modal();
    }
    // End Modal Section

    // Pagination section
    let pageNumber = {{ review_page_number }};
    let totalPages = {{ page_reviews_obj.num_pages }};
    let firstPageUrl = "{% add_query_params request page=1 %}";
</script>
<script src="{% static 'foodstore/js/paginator_controller.js' %}"></script>

{% endblock %}