$carousel-thumbnail-fr-width: 75%;
$carousel-detail-fr-width: 100% - $carousel-thumbnail-fr-width;
$breakpoint-lg: 992px;

@mixin Responsive($canvas) {
    @media screen and (max-width: $canvas) {@content;}
}

#carousel-wrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;

    .carousel-detail {
        ul {
            list-style: none;
            display: flex;
        }
    }

    @include Responsive($breakpoint-lg) {
        & {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}