body {
    min-height: 100vh;
    overflow-x: hidden;
}

#navbarMenu a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page-header {
    position: sticky;
    z-index: 99;
}

#user > a {
    padding: 8px;
    cursor: pointer;
}

#user ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0;
    list-style: none;
    background-color: #353b48;
}

#user li > a {
    padding: 12px 10px 12px 20px;
    display: block;
    text-align: right;
    color: #fff;
}

#user li > a:hover {
    background: #000;
}

#user > a:hover ~ ul,
#user ul:hover {
    display: block;
}



.humb-bars {
    position: relative;
    padding: 10px;
    z-index: 5;
    background: #0097e6;
    border-radius: 0;
    outline: none;
}

.humb-bars:focus {
    outline: none !important;
}

.humbar-container {
    width: 38px;
    height: 30px;
    position: relative;
}

.humb-bars .bar {
    width: 100%;
    height: 4px;
    background: #000;
    position: absolute;
    left: 0px;
    border-radius: 4px;
    transition: 0.1s linear;
}

.humb-bars .bar:first-child {
    top: 3px;
    transform: rotate(0);
}

.humb-bars .bar:nth-child(2) {
    top: 13px;
    opacity: 1;
}

.humb-bars .bar:nth-child(3) {
    top: 23px;
    transform: rotate(0);
}

.humb-bars.active .bar:first-child {
    top: 13px;
    transform: rotate(45deg);
}

.humb-bars.active .bar:nth-child(2) {
    opacity: 0;
}

.humb-bars.active .bar:nth-child(3) {
    top: 13px;
    transform: rotate(-45deg);
}

.overlay-bg {
    display: none;
}

@media (max-width: 576px) { 
    #navbarMenu {
        position: absolute;
        z-index: 4;
        height: 100vh;
        width: 100vw;
        display: block;
        top: 100%;
        left: 100%;
        background: #353b48;
        transition: 0.1s linear;
    }

    .overlay-bg.display {
        z-index: 3;
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #2f3640;
        opacity: 0.8;
    }

    #navbarMenu #user {
        position: absolute;
        bottom: 0;
    }
    
    #navbarMenu a {
        color: #fff;
    }

    #navbarMenu.display {
        left: 40px;
    }

    #user {
        width: 100%;
    }

    #navbarMenu > ul a {
        justify-content: start;
        padding-left: 40px;
    }

    #user .menubar-sm {
        position: absolute;
        display: block;
        left: 100%;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        transition: 0.2s linear;
    }

    #user .menubar-sm.display {
        left: 0;
    }

    #user .menubar-sm > ul {
        display: block;
        position: relative;
        top: 0;
        background: none;
    }

    #user .menubar-sm > ul a {
        color: red;
        text-align: left;
    }

    #user .menubar-sm > a#menubar-switch {
        display: block;
        width: 100%;
        color: red;
        text-align: center;
        cursor: pointer;
        font-size: 1.2rem;
    }
}