{% load static %}

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js.pagespeed.jm.r0B4QCxeCQ.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js%2bjquery.nice-select.min.js.pagespeed.jc.4gbSetKyIJ.js' %}"></script><script>eval(mod_pagespeed_ND6iIrfFHB);</script>
<script>eval(mod_pagespeed_2CR7bSFHcL);</script>
<script src="{% static 'js/jquery-ui.min.js.pagespeed.jm.kliCpEL7OZ.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js.pagespeed.jm.SeaZtwZMai.js' %}"></script>
<script src="{% static 'js/mixitup.min.js.pagespeed.jm.NgMFDHThj4.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js.pagespeed.jm.iD9BtIsBTL.js' %}"></script>
<script src="{% static 'js/main.js.pagespeed.jm.hSRyuRIwND.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-23581568-13');</script>