<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="http://localhost:8000/admin" class="brand-link">
      <img src="images/logo.jpg"
           alt="Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">FOOD STORE</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">ADMIN</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Danh mục
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="http://localhost:8000/admin/category" class="nav-link{% if section == 'category' %} active{% endif %}">
                  <i class="fa{% if section != 'category' %}r{% endif %} fa-circle nav-icon"></i>
                  <p>Category <span class="badge {% if section == 'category' %}bg-dark{% else %}bg-light text-dark{% endif %}">{{ category_count }}</span></p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://localhost:8000/admin/product" class="nav-link{% if section == 'product' %} active{% endif %}">
                  <i class="fa{% if section != 'product' %}r{% endif %} fa-circle nav-icon"></i>
                  <p>Product <span class="badge {% if section == 'product' %}bg-dark{% else %}bg-light text-dark{% endif %}">{{ product_count }}</span></p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="fa fa-home nav-icon"></i> Trang chính
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>