$footer-background-color: rgb(32, 32, 32);
$footer-padding: 1.25em 4.5em 2.5em;;
$footer-padding-mobile: 1em 1.5em;
$social-btn-size: 1.75em;
$social-btn-color: #dcdde1;
$social-btn-color-onhover: #0097e6;
$divide-line-color: #444;

$break-point: 768px;
$top-btn-size: 40px;
$font-size: 16px;
$link-font-size: 0.86em;
$link-line-height: 1.5em;

@mixin Responsive($canvas) {
    @if $canvas == $break-point {
        @media screen and (max-width: $break-point) {@content;}
    }
}

@mixin transition() {
    transition: 0.2s ease-in-out;
}

@mixin color-transition() {
    color: $social-btn-color;
    
    &:hover {
        color: $social-btn-color-onhover;
    }
}

#page-footer {
    background: $footer-background-color;
    padding: $footer-padding;
    font-size: $font-size;

    a {
        @include color-transition();
    }

    .top-items {
        margin-top: 1em;

        ul.social-btns {
            margin: 0;
            li {
                display: inline;
                list-style: none;
                margin-right: 10px;
    
                a {
                    i {
                        display: inline-block;
                        font-size: $social-btn-size;
                        @include transition();
                        @include color-transition();
                    }
                }
            }
        }

        a.top-btn {
            display: block;
            position: relative;
            width: $top-btn-size;
            height: $top-btn-size;
            border: solid 2px #dcdde1;
            overflow: hidden;
            @include transition();
            
            .arrow {
                display: block;
                position: absolute;
                width: $top-btn-size / 2;
                height: $top-btn-size / 2;
                border: solid 2px #dcdde1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -25%) rotate(45deg);
                border-bottom: none;
                border-right: none;
                @include transition();
            }

            &:hover {
                border-color: $social-btn-color-onhover;

                .arrow {
                    border-color: $social-btn-color-onhover;
                }
            }
        }
    }

    .nav-links {
        header {
            font-size: 0.9em;
            color: #ccc;
            opacity: 0.5;
            font-weight: 600;
        }

        section {
            li {
                margin: 0.4rem auto;
                a {
                    display: block;
                    font-size: $link-font-size;
                    line-height: $link-line-height;
                }
            }
        }
    }

    .about {
        font-size: 0.71em;
        line-height: 2em;
    }

    hr {
        background: $divide-line-color;
    }

    .more-legal-links {
        ul {
            display: flex;
            flex-direction: row;

            li {
                a {
                    display: block;
                    padding: 2px;
                    font-size: 0.75em;
                    @include color-transition();
                }

                margin-right: 2em;
    
                &:last-child {
                    margin-right: 0;
                }
            }

            @include Responsive($break-point) {
                flex-direction: column;
                padding: 16px auto;
                
                li {
                    width: 100%;
                    text-align: center;
                    margin: 0.25em auto;
                }
            }
        }
    }

    @include Responsive($break-point) {
        padding: $footer-padding-mobile;
    }
}