{% extends 'base_generics.html' %}

{% block title %}Test Template{% endblock %}

{% block content %}
    <div id="hompage-header" class="container-lg">
        <div class="btns">
            <a href="#" role="button">Discover</a>
            <a href="#" role="button">Browser</a></div>

        
        <form action="" class="search-form">
            <i class="fas fa-search"></i>
            <input 
                type="text" 
                id="text"
                placeholder="Search"
                >
        </form>
    </div>

    <div class="container-lg">
        
        
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
    </div>
    
{% endblock %}