{% extends 'base_generics.html' %}
{% load static %}

{% block title %}Test Template{% endblock %}

{% block content %}
    <div id="hompage-header" class="d-flex align-items-center">
        <div class="container-lg d-flex align-items-center justify-content-between">
            <div class="btns">
                <ul>
                    <li><a href="#" class="active" role="button">Discover</a></li>
                    <li><a href="#" role="button">Browser</a></li>
                </ul>
            </div>
            
            
            <form action="" class="search-form">
                <i class="fas fa-search"></i>
                <input 
                    type="text" 
                    id="text"
                    placeholder="Search"
                    >
            </form>
        </div>
    </div>


    <div class="container-lg my-4" id="carousel-wrapper">
        
        <div class="carousel-thumbnails-container">
            <div class="carousel-component carousel slide" data-component="thumbnails" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <svg width="100%" height="300">
                            <rect width="100%" height="100%" style="fill:#666"></rect>
                        </svg>
                    </div>
                    <div class="carousel-item">
                        <svg width="100%" height="300">
                            <rect width="100%" height="100%" style="fill:#656"></rect>
                        </svg>
                    </div>
                    <div class="carousel-item">
                        <svg width="100%", height="300">
                            <rect width="100%" height="100%" style="fill: #555"></rect>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <div class="carousel-detail">
            <div class="carousel-component" data-component="controller">
                <ul>
                    <li><input type="radio" name="carousel-id" id="0" checked></li>
                    <li><input type="radio" name="carousel-id" id="1"></li>
                    <li><input type="radio" name="carousel-id" id="2"></li>
                </ul>
            </div>

            <div class="carousel-component carousel slide" data-component="captions" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p>Lorem ipsum dolor sit.</p>
                        <h4>Lorem ipsum dolor sit.</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aliquam perferendis temporibus aperiam ab quisquam eligendi adipisci sit! Facilis, architecto.</p>

                        <a href="#">Learn more -></a>
                    </div>

                    <div class="carousel-item">
                        <p>Lorem ipsum dolor sit.</p>
                        <h4>Lorem ipsum dolor sit.</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aliquam perferendis temporibus aperiam ab quisquam eligendi adipisci sit! Facilis, architecto.</p>

                        <a href="#">Buy here -></a>
                    </div>

                    <div class="carousel-item">
                        <p>Lorem ipsum dolor sit.</p>
                        <h4>Lorem ipsum dolor sit.</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aliquam perferendis temporibus aperiam ab quisquam eligendi adipisci sit! Facilis, architecto.</p>

                        <a href="#">Play Free Now -></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}