<nav class="navbar navbar-expand-sm p-0 sticky-top" id="page-header">
    <a href="#" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler border-0 humb-bars ml-auto btn-outline-primary" data-toggle='collapse'>
        <div class="humbar-container">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </button>

    <div class="overlay-bg"></div>
    
    <div class="collapse navbar-collapse p-0" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active">Item 1</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Item 2</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Item 3</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Item 4</a>
            </li>
        </ul>

        <div class="dropdown-btn" id="user">
            <a class="menubar-switch" data-toggle='dropdown'><i class="fas fa-user mr-2"></i> USERNAME</a>
            
            <ul id="usernav-list">
                <li><a href="#">ACCOUNT</a></li>
                <li><a href="#">COUPONS</a></li>
                <li><a href="#">SIGN OUT</a></li>
            </ul>
        </div>
    </div>
    
</nav>